@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Oswald);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}


h1 {
    font-size: 2em;
    margin: .67em 0
}

small {
    font-size: 80%
}

img {
    border: 0
}

code {
    font-family: monospace, monospace;
    font-size: 1em
}


*,
:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.58;
    color: rgb(0, 0, 0);
    background-color: #fff
}

a {
    text-decoration: none
}

img {
    vertical-align: middle
}

.img-responsive {
    display: block;
    max-width: 65%;
    height: auto
}

[role=button] {
    cursor: pointer
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin-top: 25px;
    margin-bottom: 12.5px
}

h2 {
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin-top: 12.5px;
    margin-bottom: 12.5px
}

.h4 .small,
.h4 small,
.h5 .small,
.h5 small,
.h6 .small,
.h6 small,
h4 .small,
h4 small,
h5 .small,
h5 small,
h6 .small,
h6 small {
    font-size: 75%
}

.h1,
h1 {
    font-size: 63px
}

.h2,
h2 {
    font-size: 27px;
    text-align: left;
}

.h3,
.h4,
h3,
h4 {
    font-size: 20px
}

.h5,
h5 {
    font-size: 18px
}

.h6,
h6 {
    font-size: 14px
}

p {
    margin: 0 0 12.5px;
}

.small,
small {
    font-size: 87%
}

.text-center {
    text-align: center
}

ul {
    margin-top: 0;
    margin-bottom: 12.5px
}

ul ul {
    margin-bottom: 0
}


.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}

.container:after,
.container:before {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

@media (min-width:768px) {
    .container {
        width: 750px
    }
}

@media (min-width:992px) {
    .container {
        width: 970px
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px
    }
}



.row:after,
.row:before {
    content: " ";
    display: table
}

.row:after {
    clear: both
}


@media (min-width:992px) {

    .col-md-1,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9 {
        float: left
    }

    .col-md-1 {
        width: 8.33333%
    }

    .col-md-2 {
        width: 16.66667%
    }

    .col-md-3 {
        width: 25%
    }

    .col-md-4 {
        width: 33.33333%
    }

    .col-md-5 {
        width: 41.66667%
    }

    .col-md-6 {
        width: 50%
    }

    .col-md-7 {
        width: 58.33333%
    }

    .col-md-8 {
        width: 66.66667%
    }

    .col-md-9 {
        width: 75%
    }

    .col-md-10 {
        width: 83.33333%
    }

    .col-md-11 {
        width: 91.66667%
    }

    .col-md-12 {
        width: 100%
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

body {
    background-repeat: repeat-x;
    background: linear-gradient(90deg, rgba(48,17,194,1) 0%, rgba(70,70,255,1) 25%, rgba(12,145,236,1) 57%, rgba(18,215,255,1) 77%);
    margin: 0
}



.white-text-container .fa-icon,
.white-text-container a,
.white-text-container i,
.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h4,
.white-text-container h5,
.white-text-container p {
    color: rgb(255, 255, 255)
}

.content-wrapper {
    position: relative;
    z-index: 1
}

.section-container {
    padding: 60px 0 40px
}

.work-experience {
    margin-bottom: 30px;
}

.work-experience:last-of-type {
    margin-bottom: 0
}

.education-experience {
    margin-right: 25px;
}

.footer-container {
    padding: 20px 0 30px
}

.background-color-layer {
    background-size: cover;
    opacity: .15;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 30%
}

.card {
    border-radius: .25rem;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: 3rem;
    transition: 1.5s;
}

.card .h2,
.card h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.card-block row {
    padding: 4rem
}

.card .card-block {
    padding: 4rem
}

@media (min-width:992px) {
    .card .card-block {
        padding: 6rem
    }
}

.h5.date-title,
h5.date-title {
    margin-top: 3px;
    margin-bottom: 20px
}

.social-round-icon {
    border: 1px solid #838383;
    border-radius: 50px;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}


.fa-icon {
    color: #000;
    width: 32px;
    height: 32px;
    display: inline-block;
    line-height: 29px;
    font-size: 15px;
    text-align: center
}

.fa-icon.fa-icon-2x {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 24px
}

.social-buttons .social-round-icon {
    margin-right: 10px
}

.social-buttons a {
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    color: #000
}

.social-buttons a:hover {
    color: #316ff5;
    text-decoration: none
}

.social-buttons a:hover .social-round-icon {
    background-color: #316ff5;
    color: #fff;
    border-color: #316ff5
}

#JuniorMindImg {
    position: static;
    margin-bottom: 18px;
    margin-top: 0px;
    max-width: 15%;
    transition: 1s;
    height: auto;
    transition: 1s;
}

#JuniorMindImg:hover {
    max-width: 20%;
    transition: .5s;
}

.CompanyLogoSmall {
    position: static;
    max-width: 10%;
    height: auto;
    transition: 1s; 
}

.CompanyLogoSmall:hover {
    max-width: 20%;
    transition: .5s;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

li {
    margin-top: 5px;
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: .75s all ease
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    width: 60px;
    height: 30px;
    text-indent: -9999px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
    display: inline-block;
    align-self: center;
    opacity: 75%;
    margin-right: 6px;
}

label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked+label {
    background: #111dbe;
}

input:checked+label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

/* used in script.js */
.dark-mode {
    background: linear-gradient(to right, #034f4f 0%, #330867 100%);
    color: white !important;
}
/* used in script.js */
.darkmodeCards {
    border-radius: .40rem;
    background-color:rgb(54, 54, 54);
    border: 1px solid rgba(255, 255, 255, 0.125);
    transition: 1.5s;
}

/* navigation bar */

nav {
    background-color: rgba(255, 255, 255, 0.8); /* transparent background color */
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    float: right;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

  nav li a:active { 
    color: gray;
  }
